services:
  qna:
    build:
      dockerfile: ./Dockerfile
    env_file:
      - .env
    command:
      - "gunicorn"
      - "questions_answers_project.wsgi:application"
      - "--bind"
      - "0.0.0.0:8000"
    ports:
      - "8000:8000"

  pg:
    image: postgres:16
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
